<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="quick-add-to-cart small--hide clearfix">
{% if product.variants.size > 1 %}
  <select id="product-select-{{ product.id }}" name='id' class="text-center">
  {% for variant in product.variants %}
  {% if variant.available %}
    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
  {% else %}
    <option disabled="disabled">
    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
    </option>
  {% endif %}
  {% endfor %}
  </select>
  {% else %}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  {% endif %}

  {% if product.available %}
    <button type="submit" name="add" id="AddToCart" class="btn btn-mini text-center">Add To Cart</button>
  {% else %}
    <h6>Out of Stock</h6>
  {% endif %}
</form>