<section id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container">
    <div id="owl-example" class="owl-carousel">
      {%- for block in section.blocks -%}
        <div class="reviews-container"> 
          {% if block.settings.review_stars == '5' %}
          <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i></span>
          {% elsif block.settings.review_stars =='4'%}
          <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i style=" color: var(--background); text-shadow: 0px 0px 1px #000000; " class="spr-icon spr-icon-star"></i></span>
          {% endif %}
          
          <h2 class="mb-2">{{ block.settings.text_name }}</h2>
          {{ block.settings.text_info }}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
<style>
  #section-{{ section.id }} {
    padding: 80px 0px;
  }
  #section-{{ section.id }} .reviews-container {
    padding: 10px;
    text-align: center;
    max-width: 220px;
    margin: auto;
  }
  #section-{{ section.id }} .owl-item.active{
    background-color: transparent!important;
  }
  #section-{{ section.id }} .owl-nav{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
  }

</style>
<script>
  var colums = {{ section.settings.column }}
  $(document).ready(function () {

    $("#owl-example").owlCarousel({
      loop: false,
      margin: 10,
      navText: [
        "<span class='material-icons'>chevron_left</span>",
        "<span class='material-icons'>chevron_right</span>"
      ],
      autoplay: false,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: true
        },
        1000: {
          items: colums,
          nav: false
        }
      }
    }
    );

  });
</script>
{% schema %}
{
  "name": "Reviews Section",
  "settings": [
    {
      "type": "range",
      "id": "column",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Columns",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "Text",
      "name": "Reviews",
      "settings": [
        {
          "type": "select",
          "id": "review_stars",
          "label": "Stars of Review",
          "options": [
            {
              "value": "5",
              "label": "5 Stars"
            },
            {
              "value": "4",
              "label": "4 Stars"
            }
          ],
          "default": "5"
        },
        {
          "type": "text",
          "id": "text_name",
          "label": "Full Name",
          "default": "Title Here"
        },
        {
          "type": "richtext",
          "id": "text_info",
          "label": "Info",
          "default": "<p>Info Here</p>"
        }
      ]
    }
  ],
  "presets": [
    {
    "name": "Reviews Section",
    "category": "Section"
    }
  ]
}

{% endschema %}